*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    color: $primary;
    font-family: 'Lora', serif;
    margin-bottom: $margin * 2;
}

h1 {
    font-size: 2rem;
    margin-top: $margin * 2;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

p, ul {
    margin-bottom: $margin;
    font-size: .8rem;
}

li {
    margin-bottom: $margin / 2;
}

a {
    color: $primary;
    margin-bottom: $margin;
    &:hover {
        opacity: .75;
    }
}

ul {
    list-style: none;
}

// Navigation
header .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
        width: 100px;
        margin: $margin 0;
    }
    .menu {
        margin: $margin 0;

        li {
            display: inline-block;
            
            a {
                text-decoration: none;
                text-transform: uppercase;
                padding-right: .7rem;
                font-family: 'Lora', serif;
                font-size: .6rem;
                font-weight: 500;
            }
        } 
    }
}

// Footer
footer {
    background-color: $dark;
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $light;
        margin: $margin 0;
        
        div {
            margin: $margin 0;
            a {
                font-size: .7rem;
                color: $light;
                text-decoration: none;
                i {
                    padding: 0 $padding / 2;
                }
            }
        }
    }
}

// Elements
.blurbs {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin: $margin 0;
    justify-items: center;
    .blurb-item {
        width: 70vw;
        background-color: $light;
        margin: $margin 0;
        padding: $padding * 4;
    }
}

// Form
.form {
    background-color: $light;
    padding: $padding * 2;
    form {
        display: grid;
        grid-template-columns: 1fr;
        color: $primary;
        border: 1px solid $dark;
        padding: $padding * 2;
        
    }
}

input[type=text] {
    width: 100%;
    padding-top: $padding;
    @include input-defaults;
    &:focus+.label-text .input-content,
    &:valid+.label-text .input-content {
        @include input-transform;
    }
    &:focus+.label-text::after,
    &:valid+.label-text::after {
        transform: translateX(0%);
    }
}

input[type=email] {
    width: 100%;
    padding-top: $padding;
    @include input-defaults;
    &:focus+.label-email .input-content,
    &:valid+.label-email .input-content {
        @include input-transform;
    }
    &:focus+.label-email::after,
    &:valid+.label-email::after {
        transform: translateX(0%);
    }
}

textarea {
    width: 100%;
    padding-top: $padding;
    @include input-defaults;
    &:valid+.label-textarea .textarea-content,
    &:focus+.label-textarea .textarea-content {
        @include input-transform;
    }
    &:valid+.label-textarea::after,
    &:focus+.label-textarea::after {
        transform: translateX(0%);
    }
}

input[type=submit] {
    outline: none;
    border: none;
    font-size: .7rem;
    color: $light;
    background-color: $primary;
    cursor: pointer;
    padding: $padding / 2 $padding;
    margin: $margin 0;
    transition: opacity $transition ease-in-out;
    &:hover {
        opacity: .75;
    }
}

.label-text,
.label-email {
    @include label-defaults;
    left: 0;
    border-bottom: 1px solid $dark;
    &::after {
        @include label-after;
        left: 0;
        bottom: -1px;
    }
}

.label-textarea {
    @include label-defaults;
    top: -50%;
    left: 0;
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        bottom: 1;
        border-bottom: 1px solid $dark;
    }
    &::after {
        @include label-after;
        top: 50%;
        bottom: 1px;
    }
}

.input-content {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all $transition ease;
}

.textarea-content {
    position: absolute;
    bottom: $margin;
    left: 0;
    transition: all $transition ease;
}

.input {
    position: relative;
    // overflow: hidden;
}



// Layout
header,
footer,
section {
    display: grid;
    grid-template-columns: 5vw 1fr 5vw;
    .container {
        grid-column: 2;
        margin-bottom: $margin * 2;
    }
}