*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    color: $primary;
    font-family: 'Lora', serif;
    margin-bottom: $margin * 2;
}

h1 {
    font-size: 2rem;
    margin-top: $margin * 2;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

p, ul {
    margin-bottom: $margin;
    font-size: .8rem;
}

li {
    margin-bottom: $margin / 2;
}

a {
    color: $primary;
    margin-bottom: $margin;
    &:hover {
        opacity: .75;
    }
}

ul {
    list-style: none;
}

// Navigation
header .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
        width: 80px;
        margin: $margin 0;
    }
    .menu {
        margin: $margin 0;

        li {
            display: inline-block;
            
            a {
                text-decoration: none;
                text-transform: uppercase;
                padding-right: .4rem;
                font-family: 'Lora', serif;
                font-size: .75rem;
                font-weight: 500;
            }
        } 
    }
}

// Footer
footer {
    background-color: $dark;
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $light;
        margin: $margin 0;
        
        div {
            margin: $margin 0;
            a {
                font-size: .7rem;
                color: $light;
                text-decoration: none;
                i {
                    padding: 0 $padding / 2;
                }
            }
        }
    }
}

// Elements
.blurbs {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin: $margin 0;
    justify-items: center;
    .blurb-item {
        width: 70vw;
        background-color: $light;
        margin: $margin 0;
        padding: $padding * 2;
    }
}

// Form
.form {
    background-color: $light;
    padding: $padding * 2;
    form {
        color: $primary;
        padding: $padding * 2;
    }
}

input[type=text],
input[type=email],
input[type=submit],
textarea {
    width: 100%;
    outline: none;
    border: none;
    margin: $margin / 3 0;
    padding: $padding / 2;
}

input[type=text],
input[type=email],
textarea {
    background-color: $secondary;
}
input[type=text],
input[type=email] {
    height: 1.5rem;
}

input[type=submit] {
    color: $light;
    background-color: $primary;
    cursor: pointer;
    &:hover {
        opacity: .75;
    }
}

// Layout
header,
footer,
section {
    display: grid;
    grid-template-columns: $gutter 1fr $gutter;
    .container {
        grid-column: 2;
    }
}
footer,
section {
    .container {
        margin-bottom: $margin * 2;
    }
}