#hero, #services {
    background-color: $highlight;

    .contact-numbers {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-column-gap: 1rem;
        .blurb-heading {
            grid-column: 1 / span 2;
        }
    }
}

#hero {
    background: url('../images/hero.jpg') no-repeat;
    background-color: $highlight;
    background-size: cover;
    background-blend-mode: overlay;
}
.mission {
    div {
        margin-top: $margin * 2;
        .mission-logo {
            width: 100%;
            padding: $padding;
        }
        ul li {
            padding-left: $padding;
        }
    }
}

#clients .container .clients {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    img {
        width: 70vw;
    }
}

#contact {
    background-color: $highlight;
    .container {
        div {
            display: grid;
            grid-template-columns: 1fr;
        }
        .form {
            padding: $padding;
        }
        .map {
            margin: $margin * 2 0;
            img {
                width: 100%;
            }
        }
    }
}