// Colors
$primary: #4f9800;
$secondary: #afafaf;
$highlight: #e8ed07;
$light: #fff;
$dark: #333333;
$success: #009900;
$error: #990000;
$warning: #ffbb00;
// Typography
$margin: 1rem;
$padding: 1rem;
// Layout
$gutter: 8vw;
// Animation
$transition:300;