@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Open+Sans&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  color: #4f9800;
  font-family: 'Lora', serif;
  margin-bottom: 2rem;
}

h1 {
  font-size: 2rem;
  margin-top: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

p, ul {
  margin-bottom: 1rem;
  font-size: .8rem;
}

li {
  margin-bottom: 0.5rem;
}

a {
  color: #4f9800;
  margin-bottom: 1rem;
}

a:hover {
  opacity: .75;
}

ul {
  list-style: none;
}

header .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container img {
  width: 80px;
  margin: 1rem 0;
}

header .container .menu {
  margin: 1rem 0;
}

header .container .menu li {
  display: inline-block;
}

header .container .menu li a {
  text-decoration: none;
  text-transform: uppercase;
  padding-right: .4rem;
  font-family: 'Lora', serif;
  font-size: .75rem;
  font-weight: 500;
}

footer {
  background-color: #333333;
}

footer .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin: 1rem 0;
}

footer .container div {
  margin: 1rem 0;
}

footer .container div a {
  font-size: .7rem;
  color: #fff;
  text-decoration: none;
}

footer .container div a i {
  padding: 0 0.5rem;
}

.blurbs {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: 1rem 0;
  justify-items: center;
}

.blurbs .blurb-item {
  width: 70vw;
  background-color: #fff;
  margin: 1rem 0;
  padding: 2rem;
}

.form {
  background-color: #fff;
  padding: 2rem;
}

.form form {
  color: #4f9800;
  padding: 2rem;
}

input[type=text],
input[type=email],
input[type=submit],
textarea {
  width: 100%;
  outline: none;
  border: none;
  margin: 0.33333rem 0;
  padding: 0.5rem;
}

input[type=text],
input[type=email],
textarea {
  background-color: #f3f3f3;
}

input[type=text],
input[type=email] {
  height: 1.5rem;
}

input[type=submit] {
  color: #fff;
  background-color: #4f9800;
  cursor: pointer;
}

input[type=submit]:hover {
  opacity: .75;
}

header,
footer,
section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8vw 1fr 8vw;
      grid-template-columns: 8vw 1fr 8vw;
}

header .container,
footer .container,
section .container {
  -ms-grid-column: 2;
  grid-column: 2;
}

footer .container,
section .container {
  margin-bottom: 2rem;
}

#hero, #services {
  background-color: #e8ed07;
}

#hero .contact-numbers, #services .contact-numbers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content 1fr;
      grid-template-columns: -webkit-max-content 1fr;
      grid-template-columns: max-content 1fr;
  grid-column-gap: 1rem;
}

#hero .contact-numbers .blurb-heading, #services .contact-numbers .blurb-heading {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

#hero {
  background: url("../images/hero.jpg") no-repeat;
  background-color: #e8ed07;
  background-size: cover;
  background-blend-mode: overlay;
}

.mission div {
  margin-top: 2rem;
}

.mission div .mission-logo {
  width: 100%;
  padding: 1rem;
}

.mission div ul li {
  padding-left: 1rem;
}

#clients .container .clients {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
}

#clients .container .clients img {
  width: 70vw;
}

#contact {
  background-color: #e8ed07;
}

#contact .container div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

#contact .container .form {
  padding: 1rem;
}

#contact .container .map {
  margin: 2rem 0;
}

#contact .container .map img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */